html {
	background-color: #f3e0e0;
    font-family: "Segoe UI", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: #f3e8ec;
} 

body { 
    margin: 0;
    width: 100%; 
    padding: 0px;
    height: 100%;
}

div.header {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 60px;
	width: 100%;
	background-color: #151515;
    position: fixed;
    border-bottom: 0px solid #f3e8ec;
    box-shadow: 0px 0px 12px #000; 
    z-index: 1;
}

div.dividing {
    height: 35px
}

h1 {
    text-align: center;
    display: inline-block;
    padding: 1%;
    margin-top: 6%;
    margin-bottom: 6%;
    font-size:400%;
    background-color: #000;
    text-shadow: 1px 1px 5px #000;
    
}

h2 {
    text-align: center;
	font-family: "Segoe UI";
    margin-top: 10px;
    margin-bottom: 3%;
    font-size:3em;

}

code {
    font-weight: bold;
    color:#151515;
    background-color: #d0f0d0;
}

header {
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
}

ul{
	list-style-position: inside;
    font-weight: bold;
    
}

ol{
	list-style-position: inside;
    font-weight: bold;
}

li {
    font-weight: normal;
}

div.left {
   text-align: left; 
}

img {
	height: 100%;
 	padding: 0px;
    float: left;
}

#logo {
    height: 66px;
    padding-left: 5px;
}

img.fLeft {
	float: left;
    position: fixed;
}

div.black {
	float: left;
	background-color: #000;
    color: #f3e8ec;
	text-align: left; 
	font-size: 120%;	
    width:100%;
	height: 70%;
    box-shadow: 0px 0px 12px #000;
}

div.pic {
    background-image: url('images/Paint_Tile_Medium.png');
    background-repeat: repeat;
    text-align: center;
    background-color: #8B64CC;
    box-shadow: 0px 0px 12px #000; 
    background-attachment: fixed;
    padding: 40px;
    animation: 
        scroll-hor 30s linear infinite alternate,
        scroll-ver 60s linear infinite;
}

@keyframes scroll-hor {
    from {
        background-position-x:0px;
    }
    to {
        background-position-x:1000px;
    }
  }

  @keyframes scroll-ver {
    0%, 50%, 100% {
        background-position-y: 0px;
    }
    25% {
        background-position-y:500px;
    }
    75% {
        background-position-y: -500px;
    }
  }

.coolpic {
    box-shadow: 0px 0px 12px #000;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    float:inherit;
}


div.blogpost{
	background-color: #fefefe;
	text-align: center; 
	font-size: 120%;
    width:900px;
    box-shadow: 0px 0px 8px #000; 
    color: #151515;
    margin: auto;
    padding: 10px;
    padding-top: 25px;
    padding-bottom: 25px;    
}

div.picpost{
	background-image: url('dots.png');
    background-attachment: fixed;
	text-align: center; 
	font-size: 150%;
    font-family: "Segoe UI";
    width:900px;
    box-shadow: 0px 0px 8px #000; 
    color: #11255e;
    margin: auto;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 50px;    
}



div.invisibletextbox {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

div.button p:hover {
    box-shadow: 1px 1px 2px #000;
    background-color: #f3e8ec;
    color: #d8272c;
    text-shadow: 0px 0px 0px #000;
}

a {
    text-decoration: none;
    color:inherit;
}


table, th, td {
	border: 2px solid black;
	text-align: center;
	border-collapse: collapse;
	height: 30px;
	width: 600px;
    
	background-color:#f97d7d;
}

#navcontainer {
    width:100%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#navcontainer ul {
    margin: 0;
    padding: 10px;
    list-style-type: none;
    text-align: center;
    float: right;
}

#navcontainer ul li { 
    display: inline; 
}


#current {
    border-bottom: .25em solid #FFF;
}

#navcontainer ul li a{
    text-decoration: none;
    padding: .2em 1.2em;
    padding-bottom: .5em;
    font-size: 1em;
    color: #ffffff;
    margin-right: 10px;
    transition: border-bottom 0.5s ease;
    border-bottom: .25em dotted #0000;
}


#navcontainer ul li a:hover {
    border-bottom: .25em dotted #FFF;
    transition: border-bottom 0.5s ease;
}


@media screen and (max-width: 1000px){
    div.blogpost{
        width:90%;
}
    div.picpost{
        width: 90%
    }
    .coolpic {
        width: 90%;}
}

/*@media screen and (max-height: 580px){
    div.pic {
        height: 640px
    }
}*/
@media screen and (max-width: 660px){
    div.button {
        visibility: visible;
        font-size: 3vw;
    }
    div.button p {
        width: 70%;
    }
}